@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #4F4F4F;
}

.left {
    float: left !important;
}

.right {
    float: right !important;
}

.root {
    position: relative;
}

.wrapper {
    min-width: 1400px;
    max-width: 1400px;
    min-height: 2520px;
    background-color: #4F4F4F;
    margin: 0 auto;
    overflow: hidden;
}

.appGreyBg {
    background-color: #2B2B2B;
    filter:alpha(opacity=94);
    -moz-opacity:0.94;
    opacity: 0.94;
}

.btn-primary {
    min-width: 222px;
    min-height: 61px;
    background-color: #0097D9;
    border: 1px solid #0097D9;
    font-size: 17.5px;
    font-weight: bold;
    border-radius: 0px;
}

.btn-primary:hover {
    background-color: #0084BE;
    border: 1px solid #0084BE;
}

.inlineContent {
    display: inline-block;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}
